doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title cron IT - Leitstand
  body
    #dashboard
    script(src='/socket.io/socket.io.js')
    script.
      var widgets = !{JSON.stringify(dashboard.widgets)};
      var socket = io('#{namespace}', {query: 'dashboard=#{dashboard.id}'});
      socket
        .on('connect', function(){
          console.log('Connected to #{namespace}')
        })
        .on('widget:set', function(widget) {
          widgets[widget.id] = widget;
        });
    script(src='/bundle.js')

